*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}

#main{
    position: relative;
    overflow: hidden;
}

#page1{
    height: 100vh;
    width: 100vw;
     position: relative;
     /* background-color: brown; */
}
#page1>video{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

#page1>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 0px 30px;
    height: 10vh;
    width: 100vw;
    
}

#page1>img{
    width: 9%;
}

#right-nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #0b48ed;
    border: 1px solid #fff;
    color: #fff;
}